.forgotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
	width: 100vw;
}

.forgotBox {
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.forgotTitle {
  margin-bottom: 1.5rem;
}

.forgotForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forgotForm label {
  text-align: left;
  font-weight: 500;
  color: var(--text);
}

.forgotForm input[type="email"],
.forgotForm input[type="password"] {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
	background-color: var(--bg-color);
	color: var(--text-color);
  outline: none;
}

.forgotForm input:focus {
  border-color: var(--border-accent);
}

.forgotForm button {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
	background-color: var(--bg-color);
	color: var(--text-color);
}

.forgotForm button:hover,
.forgotForm button:focus {
	background-color: var(--hover-bg);
	outline: none;
}

.errorContainer {
	display: flex;
	flex-direction: column;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

.links a {
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
