/* Layout */
.container {
  display: flex;
	flex: 1;
  gap: 20px;
  padding: 20px;
  height: 100%;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Sidebar Container */
.sidebar {
	width: 260px;
	padding: 1.5rem;
	border-right: 1px solid var(--gray-2);
	background: var(--card-bg);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* Title */
.filterTitle {
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: -0.5rem;
	color: var(--text);
}

/* Group Wrapper */
.filterGroup {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.filterGroup label {
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--text);
}

/* Select Inputs */
.select {
	padding: 0.55rem 0.8rem;
	border-radius: 8px;
	border: 1px solid var(--gray-2);
	background-color: var(--bg);
	color: var(--text);
	font-size: 0.95rem;
	transition: 150ms ease;
}

.select:hover {
	border-color: var(--primary-light);
}

.select:focus {
	outline: none;
	border-color: var(--primary);
	box-shadow: 0 0 0 2px color-mix(in srgb, var(--primary) 30%, transparent);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createBtn {
  background: var(--primary);
  color: var(--bg);
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.createBtn:hover {
  background: var(--primary-light);
}

.searchInput {
  background: var(--gray-1);
  color: var(--text);
  border: 1px solid var(--gray-3);
	padding: 0.5rem 0;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 20px;
}

.card {
  background: var(--card-bg);
  border: 1px solid var(--gray-3);
  border-radius: 12px;
  padding: 16px;
  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.noResults {
  opacity: 0.7;
  font-style: italic;
}
