/* Layout */
.container {
  display: flex;
	flex: 1;
  gap: 20px;
  padding: 20px;
  height: 100%;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

.sidebar {
  background: var(--gray-1);
  border: 1px solid var(--gray-3);
  border-radius: 12px;
  padding: 16px;
}

.filterGroup label {
  color: var(--text);
}

.main {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createBtn {
  background: var(--primary);
  color: var(--bg);
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.createBtn:hover {
  background: var(--primary-light);
}

.searchInput {
  background: var(--gray-1);
  color: var(--text);
  border: 1px solid var(--gray-3);
	padding: 0.5rem 0;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 20px;
}

.card {
  background: var(--card-bg);
  border: 1px solid var(--gray-3);
  border-radius: 12px;
  padding: 16px;
  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.noResults {
  opacity: 0.7;
  font-style: italic;
}
